[submodule "Archive/V1"]
	path = Archive/V1
	url = https://github.com/MisaghM/Compiler-Course-Projects
[submodule "Archive/V3"]
	path = Archive/V3
	url = https://github.com/mmd-nemati/Compiler-F02-Projects.git
